In [11]:
import pandas as pd
from sklearn.linear_model import LinearRegression

import acquire
import prepare
import model_target_age as m

pd.set_option('display.float_format', '{:.7f}'.format)

In [12]:
df = acquire.make_dataset() #make the dataframe
#split the data and confirm the shapes
train, validate, test = prepare.split_data(df)
print(f"Train shape {train.shape}\nValidate shape {validate.shape}\nTest shape {test.shape}")

Train shape (70, 17)
Validate shape (35, 17)
Test shape (35, 17)

In [13]:
eval_metrics, train_pred, val_pred = m.model_maker(train, validate)

In [14]:
eval_metrics.sort_values('validate_r2', ascending=False)

,model,train_RMSE,train_r2,train_explained_variance,validate_RMSE,validate_r2,validate_explained_variance,modeling_strategy
5,RadiusNeighborsRegressor,0.4230464,0.9515634,0.9516018,0.5148586,0.9096990,0.9104715,all_columns
9,RadiusNeighborsRegressor,1.4300587,0.4465157,0.4466332,1.2649034,0.4549565,0.4925311,correlated_columns_only
8,KNeighborsRegressor,1.5578373,0.3431870,0.3498702,1.3918128,0.3401001,0.3737486,correlated_columns_only
4,KNeighborsRegressor,1.4884316,0.4004087,0.4004640,1.4716366,0.2622358,0.2809344,all_columns
2,LinearRegression,1.6706143,0.2446470,0.2446470,1.5257015,0.2070322,0.2213597,all_columns
3,TweedieRegressor,1.7216922,0.1977521,0.1977521,1.5716719,0.1585270,0.1714123,all_columns
6,LinearRegression,1.7045852,0.2136154,0.2136154,1.5777575,0.1519979,0.1611655,correlated_columns_only
7,TweedieRegressor,1.7323256,0.1878119,0.1878119,1.5783449,0.1513664,0.1615612,correlated_columns_only
1,baseline_median,1.9235384,-0.0013808,0.0000000,1.7154758,-0.0025028,-0.0000000,NaN
0,baseline_mean,1.9222117,0.0000000,0.0000000,1.7205244,-0.0084121,-0.0000000,NaN

In [5]:
val_pred[['age','radiusneighbors_all_columns']].head()

      age  radiusneighbors_all_columns
67 5.0000                       5.0000
82 3.0000                       3.0000
23 2.0000                       2.0000
89 3.0000                       3.0000
22 4.0000                       4.0000

In [6]:
X, y, _, _ = m.make_X_and_y(m.drop_columns(train), m.drop_columns(validate), m.MODEL_STRATEGY_DICTIONARY['all_columns'])

In [7]:
pd.DataFrame(X)

         0       1       2       3       4       5       6       7       8
0  -0.6916 -0.9128  0.1208  3.6180 -0.6315 -0.5139  0.7212 -0.2753 -0.9308
1   0.5278  0.5285  0.6200 -0.2250  1.2359  0.4109 -0.0717  1.2216  1.0474
2   1.2595  1.7295 -1.0337 -0.2562 -0.6315 -0.5139 -0.0717 -0.4624 -1.1262
3  -1.4232 -0.1922 -2.1881 -2.1933 -1.2691 -0.2365 -2.7151 -1.5851 -1.2483
4   0.0401  0.5285 -0.2848 -0.1937 -0.6770 -1.9011 -0.0717  0.4731 -0.9797
..     ...     ...     ...     ...     ...     ...     ...     ...     ...
65  0.5278  1.9697 -0.1288 -0.0687 -0.8820  2.5378 -0.6004  0.0989 -0.4180
66  1.3814  0.5285  3.2097  1.9309  0.9399  1.2432  1.7786  1.2216 -0.7843
67  0.6498  0.7687  1.2752 -0.1625 -1.2235  1.8905 -0.8647  0.0989 -0.7355
68 -0.6916 -1.6334 -0.2224 -0.8186  0.5072 -0.5139 -1.3934  0.0989  0.6566
69 -1.0574 -0.1922 -0.4096 -0.5686 -1.2463  0.3184 -1.1291 -1.3980 -0.5401

[70 rows x 9 columns]

In [8]:
X, y, X_val, y_val = m.prepare_train_validate(train, validate, m.MODEL_STRATEGY_DICTIONARY['all_columns'])

In [9]:
lr = LinearRegression()
lr = lr.fit(X, y['age'])
y['predicted'] = lr.predict(X)
y

     case    age  predicted
97     98 5.0000     3.5627
19     20 4.0000     4.6223
84     85 3.0000     3.7535
78     79 1.0000     1.7005
69     70 7.0000     3.7062
..    ...    ...        ...
75     76 5.0000     4.8041
54     55 2.0000     5.4136
63     64 3.0000     4.5390
29     30 2.0000     2.9905
102   103 4.0000     3.1867

[70 rows x 3 columns]

In [10]:
m.make_baseline_model(train, validate).set_index('model')

AttributeError: 'list' object has no attribute 'set_index'